PORT=4000

MONGODB_URI=mongodb://mongo:iaeHZzrSfmCglsylgIYBMDECbjdMgMrg@turntable.proxy.rlwy.net:27182

REDIS_URL=redis://default:qVEbxMkaBuWGzzZUAbinEDyYSRcjQFzx@viaduct.proxy.rlwy.net:36596

DASHBOARD_URL=http://localhost:3000

AI_API_KEY=AIzaSyCymO3hN3xJb7oTSr0mD7syCdUWYzlf4bc